body {
	display: flex;
	justify-content: center;
	align-items: center;
    min-height: 100vh;
}

.container {
	width: 400px;
    border: solid 1px blue;
    padding: 15px;
}

@media (min-width: 800px) {
	.container {
		width: 700px;
	}
}
