<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Overlay</title>
		<link rel="stylesheet" href="style.css" />
		<script defer src="index.js"></script>
	</head>
	<body>
		<div class="container">
            <p>This is the content covered by the overlay</p>
            <p><button>add overlay</button></p>
			<div class="overlay"></div>
			<div class="overlay-content">
				<p>This is on top of the overlay.</p>
			</div>
		</div>
	</body>
</html>
